*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}










body {
    font-family: 'Poppins', sans-serif;
    color: #8F95A5;
}

._container {
    max-width: 1340px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
}





/*--header start*/

.header {
    padding-top: 55px;
    margin-bottom: 100px;
}
.header__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__menu-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__menu-item {
    margin-right: 30px;
}
.header__menu-item:last-child {
    margin-right: 0;
}
.header__menu-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
}
.header__menu-link:hover, .header__menu-link:focus, :active {
    opacity: 0.8;
}
.header__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: 2px solid #263238;
    border-radius: 5px;
    padding: 17px 57px;
}
.header__link:hover, .header__link:focus, .header__link:active {
    background-color: rgb(235, 235, 235);
}

/*--header end*/



/*--intro start*/

.intro {
    margin-bottom: 150px;
}
.intro__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.intro__title_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.intro__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    max-width: 386px;
    margin-right: 38px;
    margin-bottom: 40px;
}
.intro__title-pic {
    max-width: 85px;
    margin-top: 50px;
}
.intro__desk {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    max-width: 522px;
    margin-bottom: 70px;
}
.intro__link {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    background-color: #263238;
    border-radius: 15px;
    padding: 32px 118px;
}
.intro__link:hover, .intro__link:focus, .intro__link:active {
    background-color: #172024;
}
.intro__pic {
    max-width: 607.63px;
    margin-top: 60px;
}

/*--intro end*/



/*--skills start*/

.skills {
    margin-bottom: 232px;
}
.skills__title {
    text-align: center;
    margin-bottom: 119px;
}
.skills__cards {
    display: flex;
    flex-wrap: wrap;
}
.card-speaking {
    max-width: 347px;
}
.skills__card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    color: #263238;
}
.skills__card-desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.card-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #263238;
    border-radius: 5px;
    padding: 17px 64px;
}
.card-link:hover, .card-link:focus, .card-link:active {
    background-color: #172024;
}
.skills__card-left {
    background: #F5F5F5;
    border-radius: 10px;
    padding: 92px 45px 92px 45px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.skills__card-writing {
    background: #F5F5F5;
    border-radius: 10px;
    padding: 33px 34px 44px 44px;
    margin-right: 15px;
}
.card-writing {
    max-width: 265px;
    margin-left: 93px;
}
.skills__cards-right-top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.skills__card-reading {
    background: #F5F5F5;
    border-radius: 10px;
    padding: 9px 38px 44px 0px;
}
.skills__card-reading-container {
    margin-left: 41px;
}
.skills__card-right-bottom-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.skills__card-right-bottom {
    background: #F5F5F5;
    border-radius: 10px;
    padding: 44px 25px 44px 44px;
}
.skills__card-right-bottom-info {
    margin-right: 102px;
}
.desk-speaking {
    margin-bottom: 37px;
    max-width: 347px;
}
.desk-writing {
    max-width: 340px;
    margin-bottom: 36px;
}
.desk-reading {
    max-width: 354px;
    margin-bottom: 37px;
}
.desk-listening {
    max-width: 328px;
    margin-bottom: 35px;
}

/*--skills end*/



/*--about-as start*/

.about-as {
    margin-bottom: 188px;
}
.about-as__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about-as__title {
    margin-bottom: 23px;
}
.about-as__desk {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    max-width: 635px;
    margin-bottom: 47px;
}
.about-as__info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-as__quantity {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
    text-align: center;
}
.abot-as__post {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.about-as__image {
    max-width: 500px;
}

/*--about-as end*/



/*--Pricing start*/

.pricing {
    margin-bottom: 257px;
}
.pricing__cards-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pricing__card:nth-child(2) {
    margin-top: 26px;
}
.pricing__title {
    text-align: center;
    margin-bottom: 57px;
}
.pricing__card__pic1 {
    margin-bottom: 40px;
}
.pricing__card__pic2 {
    margin-bottom: 42px;
}
.pricing__card__pic3 {
    margin-bottom: 11px;
}
.pricing__card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #263238;
}
.pricing__card-desk {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.pricing__card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #546269;
    background: #EEEEEE;
    border-radius: 5px;
    padding: 7px 24px 11px 18px;
}
.pricing__card-price span {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #263238;
}
.desk1 {
    max-width: 418px;
    margin-bottom: 29px;
}
.desk2 {
    max-width: 368px;
    margin-bottom: 59px;
}
.desk3 {
    max-width: 426px;
    margin-bottom: 58px;
}

/*--Pricing end*/



/*--contact-us start*/

.contact-us {
    margin-bottom: 133px;
}
.contact-us__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contact-us__title {
    margin-bottom: 37px;
}
.contact-us__desk {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    max-width: 751px;
    margin-bottom: 52px;
}
.contact-us__input{
    width: 450px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    padding: 26px 33px 30px 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 12px;
}
.contact-us__input::placeholder {
    color: #8F95A5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.contact-us__button {
    background: #263238;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 25px 82px;
}
.contact-us__button:hover, .contact-us__button:focus, .contact-us__button:active {
    background-color: #172024;
}

/*--contact-us end*/



/*--header start*/

.footer {
    border-top: 1px solid #C4C4C4;
    padding: 31px 0 58px 0;
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__menu-row {
    display: flex;
    flex-wrap: wrap;
}
.footer__menu-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
    color: #696c72;
}
.header__menu-point {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

/*--header start*/





@media (max-width: 1340px) {
    body {
        font-family: 'Poppins', sans-serif;
        color: #8F95A5;
    }
    
    ._container {
        max-width: 930px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 80px;
        color: #000000;
    }
    
    
    
    
    
    /*--header start*/
    
    .header {
        padding-top: 25px;
        margin-bottom: 81px;
    }
    .header__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .header__menu-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header__menu-item {
        margin-right: 15px;
    }
    .header__menu-item:last-child {
        margin-right: 0;
    }
    .header__menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #263238;
    }
    .header__menu-link:hover, .header__menu-link:focus, :active {
        opacity: 0.8;
    }
    .header__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
        border: 2px solid #263238;
        border-radius: 5px;
        padding: 12px 40px;
    }
    .header__link:hover, .header__link:focus, .header__link:active {
        background-color: rgb(235, 235, 235);
    }
    
    /*--header end*/
    
    
    
    /*--intro start*/
    
    .intro {
        margin-bottom: 72px;
    }
    .intro__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .intro__title_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .intro__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        color: #000000;
        max-width: 290px;
        margin-right: 12px;
        margin-bottom: 27px;
    }
    .intro__title-pic {
        max-width: 59px;
        margin-top: 10px;
    }
    .intro__desk {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        max-width: 420px;
        margin-bottom: 55px;
    }
    .intro__link {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        background-color: #263238;
        border-radius: 5px;
        padding: 22px 78px;
    }
    .intro__link:hover, .intro__link:focus, .intro__link:active {
        background-color: #172024;
    }
    .intro__pic {
        max-width: 422.86px;
        margin-top: 60px;
    }
    
    /*--intro end*/
    
    
    
    /*--skills start*/
    
    .skills {
        margin-bottom: 106px;
    }
    .skills__title {
        text-align: center;
        margin-bottom: 53px;
    }
    .skills__cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card-speaking {
        max-width: 229.32px;
    }
    .skills__card-title {
        font-weight: 600;
        font-size: 22px;
        line-height: 80px;
        color: #263238;
    }
    .skills__card-desk {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }
    .card-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        background-color: #263238;
        border-radius: 5px;
        padding: 16px 51px 19px 42px;
    }
    .card-link:hover, .card-link:focus, .card-link:active {
        background-color: #172024;
    }
    .skills__card-left {
        background: #F5F5F5;
        border-radius: 10px;
        padding: 30px 15px 52px 28px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .skills__card-writing {
        background: #F5F5F5;
        border-radius: 10px;
        padding: 30px 18px 20px 29px;
        margin-right: 5px;
    }
    .card-writing {
        max-width: 185.29px;
        margin-left: 60px;
    }
    .skills__cards-right-top {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;
    }
    .skills__card-reading {
        background: #F5F5F5;
        border-radius: 10px;
        padding: 23px 35px 22px 0px;
    }
    .card-reading {
        max-width: 243px;
    }
    .skills__card-reading-container {
        margin-left: 26px;
    }
    .skills__card-right-bottom-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .skills__card-right-bottom {
        background: #F5F5F5;
        border-radius: 10px;
        padding: 3px 18px 34px 18px;
    }
    .skills__card-right-bottom-info {
        margin-right: 0px;
    }
    .card-listening {
        max-width: 254px;
    }
    .desk-speaking {
        margin-bottom: 26px;
        max-width: 254px;
    }
    .desk-writing {
        max-width: 244px;
        margin-bottom: 41px;
    }
    .desk-reading {
        max-width: 233px;
        margin-bottom: 46px;
    }
    .desk-listening {
        max-width: 287px;
        margin-bottom: 27px;
    }
    
    /*--skills end*/
    
    
    
    /*--about-as start*/
    
    .about-as {
        margin-bottom: 188px;
    }
    .about-as__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .about-as__title {
        margin-bottom: 23px;
    }
    .about-as__desk {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        max-width: 635px;
        margin-bottom: 47px;
    }
    .about-as__info-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about-as__quantity {
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        color: #2A3246;
        text-align: center;
    }
    .abot-as__post {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .about-as__image {
        max-width: 500px;
    }
    
    /*--about-as end*/
    
    
    
    /*--Pricing start*/
    
    .pricing {
        margin-bottom: 257px;
    }
    .pricing__cards-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .pricing__card:nth-child(2) {
        margin-top: 26px;
    }
    .pricing__title {
        text-align: center;
        margin-bottom: 57px;
    }
    .pricing__card__pic1 {
        margin-bottom: 40px;
    }
    .pricing__card__pic2 {
        margin-bottom: 42px;
    }
    .pricing__card__pic3 {
        margin-bottom: 11px;
    }
    .pricing__card-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 48px;
        color: #263238;
    }
    .pricing__card-desk {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }
    .pricing__card-price {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #546269;
        background: #EEEEEE;
        border-radius: 5px;
        padding: 7px 24px 11px 18px;
    }
    .pricing__card-price span {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        color: #263238;
    }
    .desk1 {
        max-width: 418px;
        margin-bottom: 29px;
    }
    .desk2 {
        max-width: 368px;
        margin-bottom: 59px;
    }
    .desk3 {
        max-width: 426px;
        margin-bottom: 58px;
    }
    
    /*--Pricing end*/
    
    
    
    /*--contact-us start*/
    
    .contact-us {
        margin-bottom: 133px;
    }
    .contact-us__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .contact-us__title {
        margin-bottom: 37px;
    }
    .contact-us__desk {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        max-width: 751px;
        margin-bottom: 52px;
    }
    .contact-us__input{
        width: 450px;
        border: 1px solid #8F95A5;
        border-radius: 10px;
        padding: 26px 33px 30px 33px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-right: 12px;
    }
    .contact-us__input::placeholder {
        color: #8F95A5;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .contact-us__button {
        background: #263238;
        border-radius: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        padding: 25px 82px;
    }
    .contact-us__button:hover, .contact-us__button:focus, .contact-us__button:active {
        background-color: #172024;
    }
    
    /*--contact-us end*/
    
    
    
    /*--header start*/
    
    .footer {
        border-top: 1px solid #C4C4C4;
        padding: 31px 0 58px 0;
    }
    .footer__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__menu-row {
        display: flex;
        flex-wrap: wrap;
    }
    .footer__menu-link {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #8F95A5;
    }
    .footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
        color: #696c72;
    }
    .header__menu-point {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
    }
    
    /*--header start*/
}